<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".png" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>
